* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.img-body-fondo {
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: 0.7;
}

header {
  width: 100vw;
}

nav {
  background-color: rgba(255, 255, 255, 1);
  padding: 0.3rem;
  position: relative;
  width: 100vw;
}

.nav-logo {
  display: inline-block;
  margin-right: 0;
  padding: 10px 20px;
}

.img-nav-logo {
  border-radius: 0.8rem;
  height: 65px;
  width: auto;
}

.nav-bar {
  display: inline-block;
  bottom: 2.4rem;
  left: 83.5rem;
  position: relative;
}

.nav-bar-item {
  display:inline-block;
  padding: 0 0.7rem;
}

.nav-bar-item a {
  border: white 0.1rem solid;
  border-radius: 0.8rem;
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  padding: 0.7rem;
  text-decoration: none;
}

.hover-team,
.hover-lh,
.hover-gr,
.hover-sale {
  display: inline-block;
  position: relative;
}

.hover-team::after,
.hover-lh::after,
.hover-gr::after,
.hover-sale::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-team::after, .hover-sale::after {
  background-color: #04dd95;
}

.hover-lh::after {
  background-color: #b200ca96;
}

.hover-gr::after {
  background-color: #06b8ee;
}

.hover-team:hover:after,
.hover-lh:hover:after,
.hover-gr:hover:after,
.hover-sale:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.main-aside {
  display: inline-block;
  position: relative;
  width: 50rem;
}

.img-main-aside {
  display: inline-block;
  padding: 0.25rem 0.5rem;
}

.img-main-aside img {
  display: inline-block;
  border-radius: 0.8rem;
  width: 180px;
}

.div-main-aside {
  background-color: rgba(4, 175, 169, 1);
  border-radius: 0.8rem;
  bottom: 3.7rem;
  color: white;
  display: inline-block;
  font-size: 2rem;
  position: relative;
  width: 200px;
}

.div-main-aside p {
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.main-section {
  display: inline-block;
  position: relative;
  bottom: 100px;
  left: 220px;
}

.main-section div {
  display: inline-block;
}


.main-section div figure img{
  width: 180px;
  margin-left: 17px;
  border-radius: 8px;
}

.main-section p {
  background-color: rgba(4, 175, 169, 1);
  font-family: Arial, Helvetica, sans-serif;
  border: 0.4rem solid rgba(4, 175, 169, 1);
  border-radius: 0.8rem;
  color: white;
  display: inline-block;
  font-size: 2.47rem;
  min-width: 21.7rem;
  max-height: 300rem;
  padding: 0.5rem;
  width: 21.7rem;
}
